# Práctica 3: Representación del conocimiento

__Fecha de entrega: 20 de febrero de 2023__

El objetivo de esta práctica es aplicar los conceptos teóricos vistos en clase en el módulo de Representación de conocimiento. La práctica consta de un único notebook que se entregará en la tarea de entrega habilitada en el Campus  Virtual.

Cada consulta debe contener breves comentarios que expliquen cada tripleta. __No se valorarán consultas sin explicaciones__.

__Número de grupo: 31__

__Nombres de los estudiantes: Miguel Antonio Amato Hermo y Alejandro Tobías Ángeles__

## Consultas SPARQL sobre Wikidata.

En esta práctica vamos a usar el [punto de acceso SPARQL](https://query.wikidata.org/) de Wikidata para contestar las preguntas que se formulan a continuación. Cada pregunta debe ser respondida realizando una única consulta SPARQL. Para cada una de las entidades recuperadas se mostrará __tanto su identificador como su etiqueta__ (nombre de la entidad en lenguaje natural). 

Para cada una de las preguntas debes mostrar tanto la consulta como la respuesta obtenida. Si lo consideras necesario, puedes añadir celdas adicionales en formato _Markdown_ para explicar decisiones que hayas tomado al crear la consulta o cualquier otro dato que consideres interesante.
 
Para resolver estas consultas puedes usar __dos recursos que te recomendamos consultar__ son:

- [Este tutorial de SPARQL](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial).
- [Esta recopilación de ejemplos](https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples)

In [1]:
## Lo primero sería instalar en tu entorno de Python wdsparql
## Si no lo tienes instalado, puedes hacerlo desde el notebook
import sys

!{sys.executable} -m pip install wdsparql

# Asumismos instalado wdsparql
%load_ext autoreload
%load_ext wdsparql
%autoreload 2

Requirement already satisfied: wdsparql in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (0.0.3)
Requirement already satisfied: pandas>=1.1 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from wdsparql) (1.5.3)
Requirement already satisfied: requests>=2.20 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from wdsparql) (2.28.2)
Requirement already satisfied: ipython>=7.0.0 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from wdsparql) (8.5.0)
Requirement already satisfied: traitlets>=5 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (5.4.0)
Requirement already satisfied: colorama in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.4.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (2.13.0)
Requirement already satisfied: pickleshare in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.7.5)
Requirement already satisfied: decorator in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (5.1.1)
Requirement already satisfied: backcall in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.5.1)
Requirement already satisfied: matplotlib-inline in c:\users\htm19\appdata\roaming\python\python310\site-packages (from ipython>=7.0.0->wdsparql) (0.1.6)
Requirement already satisfied: pytz>=2020.1 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1->wdsparql) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1->wdsparql) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from pandas>=1.1->wdsparql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.20->wdsparql) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.20->wdsparql) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.20->wdsparql) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\htm19\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.20->wdsparql) (2022.12.7)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython>=7.0.0->wdsparql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\htm19\appdata\roaming\python\python310\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=7.0.0->wdsparql) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\htm19\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas>=1.1->wdsparql) (1.16.0)
Requirement already satisfied: executing in c:\users\htm19\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.0.0->wdsparql) (1.1.0)
Requirement already satisfied: pure-eval in c:\users\htm19\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.0.0->wdsparql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\htm19\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.0.0->wdsparql) (2.0.8)

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

### Ejemplo

Recuperar todas las instancias directas de la clase [Cabra (Q2934)](https://www.wikidata.org/wiki/Q2934) que aparecen en la base de conocimiento.

In [5]:
%%wdsparql
SELECT ?item ?itemLabel 
WHERE 
{
  ?item wdt:P31 wd:Q2934.  # instancias directas de la clase Cabra
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 1

[U2 (Q396)](https://www.wikidata.org/wiki/Q396) es una banda de rock con una larga trayectoria y numerosos éxitos. 

Vamos a comenzar por averiguar su fecha y lugar de formación (localidad y país).

In [4]:
%%wdsparql
SELECT ?fechaLabel ?paisLabel ?localidadLabel
WHERE 
{
          #fecha formacion
  wd:Q396 wdt:P571 ?fecha;
          #pais 
          wdt:P17 ?pais;
          #localidad 
          wdt:P740 ?localidad.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 2

A continuación vamos a averiguar todos los miembros que se le conocen en la base de conocimiento. Queremos obtener los resultados ordenados alfabéticamente por su apellido e incluir su nombre completo y el artístico.

Puede que la siguiente información sobre el uso de [OPTIONAL](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#OPTIONAL) te resulte útil.

In [41]:
%%wdsparql
SELECT ?miembroLabel ?nombreRealLabel ?nombreArtisticoLabel
WHERE 
{
          
   wd:Q396 wdt:P527 ?miembro. #miembros
   OPTIONAL { ?miembro wdt:P1477 ?nombreReal. } #nombre real
   OPTIONAL { ?miembro wdt:P742 ?nombreArtistico. } #nombre artistico
   ?miembro wdt:P734 ?apellido. #sacamos el apellido para ordenar
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY ?apellido

Es importante usar dos OPTIONAL distintos para que se muestren todos los miembros, tengan o no pseudónimo y nombre completo asociados.

### Consulta 3

[Bono (Q834621)](http://www.wikidata.org/entity/Q834621) es el cantante de la banda. Además de cantante, ha tenido muchas otras ocupaciones. ¿Cuáles de ellas están relacionadas directamente con el mundo del [arte (Q483501](https://www.wikidata.org/wiki/Q483501)? Ten en cuenta que la jerarquía de ocupaciones puede ser muy sofisticada.

Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Property_paths) te resulte útil.

In [9]:
%%wdsparql
SELECT ?jobLabel
WHERE 
{
  #miramos los trabajos de Bono
  wd:Q834621 wdt:P106 ?job.
  #miramos los que sean subclase de alguna subclase de un trabajo cuyo campo de ocupacion sea arte
  ?job wdt:P279+ wd:Q483501.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

Si no añadimos el `+` a la relación `wdt:P279` muchas de las profesiones no se recuperan.

### Consulta 4

Bono se ha casado una vez, con Ali Hewson, con la que tiene varios hijos. Queremos conocer los nombres de esos hijos y sus fechas de nacimiento. Los resultados deben aparecer ordenados cronológicamente.

In [11]:
%%wdsparql
SELECT ?childLabel ?dateLabel
WHERE
{ # Sacamos los hijos de Bono
   wd:Q834621 wdt:P40 ?child.
  # Sacamos la fecha de nacimiento de cada hijo
  ?child wdt:P569 ?date.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
# Ordenamos por fecha de nacimiento
ORDER BY ?date

### Consulta 5

Bono ha recibido muchos premios a lo largo de su carrera. Queremos obtener la lista de premios y, para cada uno de ellos, la fecha en la que fue premiado (si está disponible). Los resultados se deben mostrar ordenado por fecha.

Para resolver esta consulta necesitarás acceder a los cualificadores de nodos sentencia y necesitarás entender los prefijos que usa Wikidata. Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Qualifiers) te resulte útil.

In [3]:
%%wdsparql
SELECT ?awardNameLabel ?dateLabel
WHERE
{ 
    wd:Q834621 p:P166 ?award. # Sacamos los premios de bono 
    ?award ps:P166 ?awardName. # De cada premio sacamos el nombre
    OPTIONAL {?award pq:P585 ?date.} # De cada premio sacamos la fecha si la tiene
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
# Ordenamos por fecha de nacimiento
ORDER BY ?date

### Consulta 6

Ahora queremos conocer todos los discos de U2 del tipo [albunes en directo (Q209939)](https://www.wikidata.org/wiki/Q209939) y cualquiera de sus subgéneros. Los resultados se deben mostrar ordenados por nombre e incluir el año de publicación.

In [13]:
%%wdsparql
SELECT DISTINCT ?albumNameLabel ?dateLabel # Si no ponemos el distinct 
WHERE
{
  ?albumName (wdt:P7937|wdt:P279)+ wd:Q209939; # Sacamos los albumes que tengan como forma artistica album en directo o alguna de sus subclases (subgeneros)
              wdt:P175 wd:Q396. # y cuyo interprete sea U2
  OPTIONAL{?albumName wdt:P577 ?date}. # Sacamos la fecha de publicacion si la tiene
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
ORDER BY ?albumNameLabel # Ordenamos por nombre del album

### Consulta 7

Queremos saber si hay obras de U2 publicadas varias veces (en diferentes años). Para ello vamos a recuperar las obras de tipo [lanzamiento de un grupo (group release)](https://www.wikidata.org/wiki/Q108346082) pero mostrando también la fecha de publicación más antigua de cada una y el número de apariciones. Los resultados deben aparecer en orden cronológico.

Para calcular la fecha correcta tendrás que agrupar las respuestas por album y aplicar una función de agregación sobre las fechas de lanzamiento. Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#Grouping) te resulte útil.

In [22]:
%%wdsparql
SELECT ?albumNameLabel (MIN(?date) AS ?mDate) (COUNT(?albumName) AS ?amount) 
WHERE
{
  ?albumName wdt:P31/wdt:P279* wd:Q108346082; # Sacamos los albumes que sean instacias de album en directo o de alguna de sus subclases (subgeneros)
             wdt:P175 wd:Q396. # y cuyo interprete sea U2
  OPTIONAL{ ?albumName wdt:P577 ?date.} # Sacamos la fecha de publicacion si la tiene
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
GROUP BY ?albumNameLabel #la funcion Count (que nos da el numero de apariciones) exige que agrupemos por el nombre del album
ORDER BY ?mDate # Ordenamos por fecha de publicacion

### Consulta 8

U2 es sin duda un grupo con una larga trayectoria. ¿Cuántas discos ha lanzado? Vamos a considerar sólo instancias directas de [album de estudio (Q208569)](https://www.wikidata.org/wiki/Q208569).

In [29]:
%%wdsparql
SELECT (COUNT(*) AS ?amount) 
WHERE
{
  ?album wdt:P7937 wd:Q208569; # Sacamos los albumes que tengan como forma artistica album de estudio (con instance of no funciona)
         wdt:P175 wd:Q396; # y cuyo interprete sea U2
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 9

Entre todos sus discos de estudio, queremos recuperar los títulos, fechas de lanzamiento y discográfica de los discos de la década de los 1990. Si alguna obra tiene varias fechas de publicación, se mostrará si alguna de ellas está dentro de ese periodo.

Puede que [esto](https://www.wikidata.org/wiki/Wikidata:SPARQL_tutorial#FILTER) te resulte útil.

In [37]:
%%wdsparql
SELECT ?albumNameLabel ?dateLabel ?discoLabel 
WHERE
{
  ?albumName wdt:P7937 wd:Q208569; # Sacamos los albumes que tengan como forma artistica album de estudio 
             wdt:P175 wd:Q396; # y cuyo interprete sea U2
             wdt:P577 ?date; # Sacamos la fecha de publicacion
             wdt:P264 ?disco. # Sacamos la discografica
  FILTER(YEAR(?date) >= 1990 && YEAR(?date) <= 1999). # filtramos por fecha para mostrar unicamente los que estan entre 1990 y 1999
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}

### Consulta 10

¿Qué otros personajes famosos nacieron el mismo año que Bono y tiene su misma nacionalidad? Para cada uno de ellos muestra su nombre y ocupación. Muestra los resultados ordenados por nombre y fecha de nacimiento.

In [46]:
%%wdsparql
SELECT ?celebrityNameLabel ?ocupationLabel ?dateLabel
WHERE
{
  wd:Q834621 wdt:P27 ?BNac. # Sacamos la nacionalidad de Bono
             wdt:P569 ?BDate; # Sacamos la fecha de nacimiento de Bono
  ?celebrityName wdt:P31 wd:Q5; # Sacamos las personas
                 wdt:P569 ?date; # Sacamos la fecha de nacimiento de cada persona
                 wdt:P106 ?ocupation; # Sacamos la ocupacion de cada persona
                 wdt:P27 ?BNac. # Sacamos los que tenga nacionalidad igual a la de Bono
  FILTER(YEAR(?BDate) = YEAR(?date)).
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en".}
}
ORDER BY ?celebrityNameLabel ?date

#He considerado como famoso a cualquier persona que tenga entrada en wikidata.

### Consulta 11

¿Cuántos asertos hay sobre U2 en Wikidata? Ten en cuenta que puede aparece tanto como sujeto como objeto de cada tripleta.

In [10]:
%%wdsparql
SELECT (COUNT(?val) AS ?valAmount) (COUNT(?entry2) AS ?entryAmount)
WHERE
{
    {wd:Q396 ?prop ?val.}
    UNION # Si no hacemos la union de las dos consultas, lo que obtendremos sera la multiplicacion de los resultados de ambas consultas
    {?entry2 ?prop2 wd:Q396.}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}